#root{
   height:100vh;
}
/*---------Layout----------------*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{     
  font-size: 62.5%;/*1rem=10px*/
}
body{
  font-size: 1.6rem;
  font-family:  sans-serif;
  height:100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*layout*/
.grid-container{
  display: grid;
  height: 100%;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows:5rem 1fr 5rem;
 
}

header{
  grid-area: header;
  background-color:teal;
  color:#ffffff;
}
main{
  grid-area: main;
  padding:1rem;
}
footer{
  grid-area:footer;
  background-color:teal;
  color:#ffffff;
}

.row{
  padding: 0 2rem;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  
}
.row .start{
  justify-content: flex-start;
}
.row.center{
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}

.col-1{
  flex:1  25rem;
}
.col-2{
  flex:2  50rem;
}
.row a{
  text-decoration: none;
}a:hover{
  opacity: 0.8;
}
button{
  padding:0.5rem 1rem;
  background-color: teal;
  cursor:pointer;
  border-radius:0.5rem;
  color:white;
  font-size:1.6rem;
  border:0.1rem solid #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button.primary{
  background-color: teal;
  color:white;
  padding: 1rem;
}
button.block{
  width: 100%;
}

button.primary.block:hover{
   opacity: 0.8;
   cursor: pointer;
   border:0.1rem solid #ffffff;
}

a.brand{
  font-weight: 700;
  font-size:2.6rem;
  color: #ffffff;
}
h1{
  font-size:1.8rem;
  padding: 1rem 0; 
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
  
}

/*Images*/
img{
border-radius: 0.5rem;

}
img.medium{
 max-width: 29rem;
 width:100%;
 
}
img.large{
  width: 100%;
}
.card{
  border:0.1rem solid #c0c0c0 ;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  
}

.card-body{
  padding: 1rem;
}
.card-body>*{
  margin-bottom:0.5rem ;
}
.price{
  font-size: 2rem;
}

.rating{
  color:#f0c040;
}

.rating span:last-child{
  color: #404040;
  
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}
li{
  margin:1rem;
}
.numOfReviews{
  margin: 1rem;
  font-size:1.4rem;
}
/*Alert*/
.success{
  color:#20a020;
}
.danger{
  color:#a02020;
}

.alert{
  padding: 1rem;
  border:0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color:#2020a0;
  background-color:#e0e0ff;
}

.alert-danger{
  color:#a02020;
  background-color:#ffe0e0ff;
}